[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "dependencies/glew-cmake"]
	path = dependencies/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
